<div class="login-container">

  <div class="glass-card">

    <h1>Create Account</h1>

    <form (ngSubmit)="register()">

      <input
        type="text"
        placeholder="Username"
        [(ngModel)]="username"
        name="username"
        required
      />

      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="password"
        name="password"
        required
      />

      <button (click)="register()" [disabled]="loading" class="signup-btn">

  <span *ngIf="!loading">Sign Up</span>

  <span *ngIf="loading" class="spinner-container">
    <span class="spinner"></span>
    Creating account...
  </span>

</button>
       <button routerLink="/">
      Already have an account?

      <a routerLink="/">Login</a>
   
   </button>

    </form>

   
  </div>

</div>