

<div *ngIf="currentView === 'list'">

  <h1>Your Shops</h1>

  <div class="shop-card"
       *ngFor="let shop of shops"
       (click)="enterShop(shop)">

    <img *ngIf="shop.image"
         [src]="shop.image"
         class="shop-img" />

    <div class="shop-info">
      <h3>{{ shop.name }}</h3>
      <p>{{ shop.address }}</p>
    </div>

  </div>

</div>





<div *ngIf="currentView === 'detail'" class="management-page">


  <div class="shop-panel">

    <button class="back-btn"
            (click)="backToList()">
      ← Back
    </button>

    <h2>{{ selectedShop?.name }}</h2>
    <p>{{ selectedShop?.address }}</p>

    <button class="primary-btn"
            (click)="openAddExistingProduct()">
      + Add From Catalogue
    </button>

    <button class="primary-btn"
            (click)="showAddNewProductModal = true">
      + Add New Product
    </button>

  </div>


 
  <div class="products-panel">

    <div class="product-card"
         *ngFor="let item of products">

      <div class="product-left">

        <img *ngIf="item.product?.image"
             [src]="item.product.image" />

        <div>
          <h3>{{ item.product?.name }}</h3>
          <p>MRP: ₹ {{ item.product?.mrp }}</p>
          <p>Selling: ₹ {{ item.selling_price }}</p>
          <P>Weight: {{ item.product?.weight }}</P>
        </div>

      </div>

      <div class="product-right">

        <div class="stock"
             [class.low]="item.stock_count < 5">
          {{ item.stock_count }}
        </div>

        <div class="actions">
          <button (click)="openEdit(item)">Edit</button>
          <button class="danger"
                  (click)="deleteItem(item.id)">
            Delete
          </button>
        </div>

      </div>

    </div>

  </div>

</div>





<div class="modal-overlay"
     *ngIf="showAddExistingProductModal"
     (click)="showAddExistingProductModal=false">

  <div class="modal-box"
       (click)="$event.stopPropagation()">

    <h3>Add Product From Catalogue</h3>

    <select [(ngModel)]="selectedCatalogueProductId">

      <option [ngValue]="null">Select Product</option>

      <option *ngFor="let item of catalogueProducts"
              [ngValue]="item.id">
        {{ item.name }} - MRP ₹ {{ item.mrp }}
      </option>

    </select>

   <small *ngIf="selectedCatalogueProductMRP !== null">
  MRP: ₹ {{ selectedCatalogueProductMRP }}
</small>

    <input type="number"
           [(ngModel)]="catalogueSellingPrice"
           placeholder="Selling Price">

    <input type="number"
           [(ngModel)]="catalogueStockCount"
           placeholder="Stock Quantity">

    <div class="modal-actions">

      <button class="primary-btn"
              (click)="addProductToShop()">
        Add
      </button>

      <button class="cancel-btn"
              (click)="showAddExistingProductModal=false">
        Cancel
      </button>

    </div>

  </div>

</div>




<div class="modal-overlay"
     *ngIf="showAddNewProductModal"
     (click)="showAddNewProductModal=false">

  <div class="modal-box"
       (click)="$event.stopPropagation()">

    <h3>Add New Product</h3>

    <input [(ngModel)]="newProductName"
           placeholder="Product Name">

    <input type="number"
           [(ngModel)]="newProductMRP"
           placeholder="MRP">

    <input [(ngModel)]="newProductWeight"
           placeholder="Weight">

    <input type="number"
           [(ngModel)]="newSellingPrice"
           placeholder="Selling Price">

    <input type="number"
           [(ngModel)]="newStockCount"
           placeholder="Stock Quantity">

    <div class="modal-actions">

      <button class="primary-btn"
              (click)="createNewProduct()">
        Create
      </button>

      <button class="cancel-btn"
              (click)="showAddNewProductModal=false">
        Cancel
      </button>

    </div>

  </div>

</div>




<div class="modal-overlay"
     *ngIf="showEditModal"
     (click)="showEditModal=false">

  <div class="modal-box"
       (click)="$event.stopPropagation()">

    <h3>Edit Product</h3>

    <input type="number"
           [(ngModel)]="editSellingPrice"
           placeholder="Selling Price">

    <input type="number"
           [(ngModel)]="editStockCount"
           placeholder="Stock Quantity">

    <div class="modal-actions">

      <button class="primary-btn"
              (click)="saveEdit()">
        Save
      </button>

      <button class="cancel-btn"
              (click)="showEditModal=false">
        Cancel
      </button>

    </div>

  </div>

</div>