<div class="dashboard-container">

  
  <div class="sidebar" [class.closed]="isSidebarClosed">
     
    <div class="profile-section">
      <!-- <img src="assets/avatar.png" class="avatar"> -->
      <h3 class="text">{{ username }}</h3>
    </div>
   <div class="back-button" (click)="goToHome()">
  <span class="arrow">←</span>
  <span class="text">HOME</span>
</div>
    <div class="menu-section">
      <h4 class="text">Categories</h4>
      <ul style="list-style: none; padding: 0;">
      <li (click)="goToProducts()">
          <span class="icon">📋</span>
          <span class="text">Products</span>
        </li><br>
         <li (click)="goBackToShops()">
          <span class="icon">📂</span>
          <span class="text">Shops</span>
        </li><br>
       <!-- <li (click)="goToAllProducts()">
          <span class="icon">📋</span>
          <span class="text">All Products</span>
        </li><br> -->
        <li>
          <span class="icon">🔍</span>
          <span class="text">Search</span>
        </li><br>
      </ul>
    </div>

    
    <div class="bottom-section">
      <button (click)="goToChangePass()">
        <span class="icon">🔐</span>
        <span class="text">Change Password</span>
      </button>

      <button (click)="logout()">
        <span class="icon">🚪</span>
        <span class="text">Logout</span>
      </button>
    </div>

  </div>

  <div class="content">

    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>

    <router-outlet></router-outlet>

  </div>

</div>