
<div class="dashboard-container">


  <div class="sidebar" [class.closed]="isSidebarClosed">

    <div class="profile-section">
      <div class="avatar-circle">{{ username?.charAt(0)?.toUpperCase() }}</div>
      <div class="profile-info">
        <h3>{{ username }}</h3>
        <span>Shop Owner</span>
      </div>
    </div>

    <div class="home-btn" (click)="goToHome()">
      <span class="material-icons icon">home</span>
      <span class="text">Home</span>
    </div>

   
    <div class="menu-section">
      <h4 class="text">Navigation</h4>
      <ul>
        <li (click)="goToProducts()">
          <span class="material-icons icon">inventory_2</span>
          <span class="text">Products</span>
        </li>
        <li (click)="goBackToShops()">
          <span class="material-icons icon">storefront</span>
          <span class="text">Shops</span>
        </li>
        <li (click)="goToSearch()">
          <span class="material-icons icon">search</span>
          <span class="text">Search</span>
        </li>
      </ul>
    </div>

    <div class="nav-divider"></div>


    <div class="bottom-section">
      <button (click)="goToChangePass()">
        <span class="material-icons icon">lock_reset</span>
        <span class="text">Reset Password</span>
      </button>
      <button class="logout-btn" (click)="logout()">
        <span class="material-icons icon">logout</span>
        <span class="text">Logout</span>
      </button>
    </div>

  </div>

  <div class="content">
    <button class="toggle-btn" (click)="toggleSidebar()">☰</button>
    <router-outlet></router-outlet>
  </div>

</div>