
<div class="management-page" *ngIf="!loading">

 
  <div class="shop-panel">

    <img *ngIf="shop.image"
         [src]="shop.image"
         class="shop-image" />

    <h2>{{ shop.name }}</h2>

    <p class="shop-desc">
      {{ shop.description }}
    </p>

    <div class="shop-meta">
      <span><strong>Owner:</strong> {{ shop.owner }}</span>
      <span><strong>Total Products:</strong> {{ products.length }}</span>
    </div>

  </div>


 
  <div class="products-panel">

    <div class="products-header">
      <h1>Products</h1>

      <button class="primary-btn"
              (click)="openAdd()"
              [disabled]="!(shopOwner === currentUser || isAdmin)">
        + Add Product
      </button>
    </div>

   
    <div class="product-card"
         *ngFor="let product of products">

      <div class="product-left">
        <img *ngIf="product.image"
             [src]="product.image" />

        <div>
          <h3>{{ product.name }}</h3>
          <p>₹ {{ product.price }}</p>
        </div>
      </div>

      <div class="product-right">

        <span class="stock"
              [class.low]="product.stock < 5">
          {{ product.stock }}
        </span>

        <div class="actions">
          <button (click)="openEdit(product)">Edit</button>

          <button class="danger"
                  (click)="deleteProduct(product.id)">
            Delete
          </button>
        </div>

      </div>

    </div>

  </div>

</div>