<div class="page">

  <div class="page-header">
    <h1>All Products</h1>
  </div>

  

  

    <div class="list-header">
      <span>Product</span>
      <span>Shop</span>
      <span>Owner</span>
      <span>Price</span>
      <span>Stock</span>
    </div>

    <div class="list-row" *ngFor="let product of products">

      <div>{{ product.name }}</div>
      <div>{{ product.Shop_name }}</div>
      <div>{{ product.shop_owner }}</div>
      <div>₹ {{ product.price }}</div>
      <div>
        <span [class.low]="product.stock < 5">
          {{ product.stock }}
        </span>
      </div>

    </div>

  </div>

